/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


#name-container {
  text-align: center;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: black;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.materialboxed {
  max-width: 100%;
  max-height: auto;
}

#me {
  max-width: 100%;
  max-height: auto;
}

.aboutLinks {
  color: black;
}

#github {
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#linkedin {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
}

#nav-web li a {
  color: black;
}

a {
  color: white;
}

.page-footer {
  background-image: url("../images/dollhouse3.jpg");
}

#footerRow {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
